.casillero{
    margin: 0;
    padding: 0;
}

.casillero img.fondo{
    width: 100%;
    margin: 0;
    padding: 0;
}
.casillero img.ficha{
    position: absolute;
    height:100%;
}

.tbl_on{
    position: absolute; top:10px; left:10px;
    border:groove;
    padding: 20px;
    margin: 20px;
    background-color: hsla(32, 60%, 58%, 0.5);
}

.tbl_on .row .casillero_lleno_turno:hover{
    border:inset;
    opacity: 0.8;
}

.tbl_on .row .casillero_lleno_rival:hover{
    opacity: 0.5;
}

.tbl_on .row .casillero_lleno_turno_sel{
    border:inset;
    opacity: 0.8;   
}

.tbl_on .row .casillero_destino{
    border:solid;
    border-color: rgb(131, 131, 221);
    opacity: 0.8;
}

.iconUsr{
    height: 40px;
}

.banner{
    position: absolute;
    width: 32%; 
    color: rgb(21, 33, 197);
    background-color: hsla(235, 60%, 70%, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
.msg{
    bottom: 10%;
    right: 1%;
    font-size: 150%;

}
.msgF{
    top: 40%;
    left: 20%;
    font-size: 280%;
}

.monitor{
    position: absolute;
    top: 5%;
    width: 32%;
    right: 1%;
    border: inset;
    padding: 1%;
    background-color: hsla(32, 60%, 58%, 0.5);
}